<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Compra Sustentable!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, neque maiores</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Busca lo que necesitas</h3>
      <p>Empieza tus compras</p>
    </div>
    <div class="col-md-4">
      <h3>Productos organicos y Sustentables</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

   </div>
    <div class="col-md-4">
      <h3>Ahorra y ayuda al medio ambiente</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
